 <div class="text-block">Confirm login with block-Auth</div>
               <div class="text-block-2">You will be signing in as </div>
               <a href="#" class="signinbtn w-button">Sign In</a>